<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/first19326/cdn@master/static/css/index.min.css">
<div id="count"></div>
<%- partial('_partial/header') %>
<%- partial('_partial/container') %>